.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0px 4px 20px #00000014;
  width: 500px;
}

.form__item {
  position: relative;
  margin-top: 16px;
}

.form__title {
  font-size: var(--font-size-h2);
}

.form__item-input {
  width: 100%;
  padding: 16px 12px;
  margin-top: 8px;
  background-color: var(--color-light-gray);
  outline: none;
  border: none;
  border-radius: var(--box-radius);
  font-size: var(--font-size-s);
  color: var(--color-gray);
}

.form__item-input__error-border {
  border: 1px solid var(--color-red);
}

.form__item-input__error-text {
  position: absolute;
  bottom: -18px;
  font-size: var(--font-size-s);
  color: var(--color-red);
}

.form__item-submit {
  border-radius: var(--box-radius);
  margin-top: 24px;
  background-color: var(--color-violet);
  color: var(--color-white);
  padding: 16px 0;
  cursor: pointer;
}

@media screen and (min-width: 1360px) {
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0px 4px 20px #00000014;
    width: 500px;
  }

  .form__item {
    position: relative;
    margin-top: 16px;
  }

  .form__title {
    font-size: var(--font-size-h2);
  }

  .form__item-input {
    width: 100%;
    padding: 16px 12px;
    margin-top: 8px;
    background-color: var(--color-light-gray);
    outline: none;
    border: none;
    border-radius: var(--box-radius);
    font-size: var(--font-size-s);
    color: var(--color-gray);
  }

  .form__item-input__error-border {
    border: 1px solid var(--color-red);
  }

  .form__item-input__error-text {
    position: absolute;
    bottom: -18px;
    font-size: var(--font-size-s);
    color: var(--color-red);
  }

  .form__item-submit {
    border-radius: var(--box-radius);
    margin-top: 24px;
    background-color: var(--color-violet);
    color: var(--color-white);
    padding: 16px 0;
    cursor: pointer;
  }
}

@media screen and (max-width: 680px) {
  .form {
    position: static;
    transform: translate(0, 0);
    padding: 16px;
    width: 320px;
    margin: 0 auto;
  }
}
