.main__header {
  background-color: #512689;
  display: flex;
  justify-content: center;
}

.main__header-logout {
  position: absolute;
  right: 0;
  top: 36px;
}

.main__header-wrapper {
  position: relative;
  width: 1280px;
  padding: 75px 0;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 48px;
}

.main__header-title {
  color: inherit;
  font-size: var(--font-size-h1);
  font-weight: 400;
}

.main__header__text {
  color: inherit;
  font-size: var(--font-size-h2);
  max-width: 900px;
}

.main__users-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1280px;
  margin: 0 auto;
}

.main__user-card {
  position: relative;
  padding: 16px;
  border-radius: 10px;
  width: 305px;
  height: 263px;
  box-shadow: 0 1px 4px 0 var(--color-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__avatar {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
  justify-self: baseline;
}

.main__user-name {
  margin-top: 20px;
}

.main__card-favorite {
  position: absolute;
  align-self: flex-end;
  right: 28px;
  bottom: 28px;
}
